.md-tabs{
    margin-top:20px;
}
.tabs .indicator {
    height: 4px;
}
.mybox{
    margin: 0 auto !important;
    float:none !important;
}
.md-tabs form{
    margin-top:20px;
}

.our-client-container .filtr-item img {
	width: 100%;
}
.col-centered{
	margin-right: auto;
	margin-left: auto;
}

.client-sorting {
	width: 100%;
}

.client-sorting ul li {
	margin: 5px;
	line-height: 40px;
	padding: 0 15px 0 15px;
	list-style: none;
	float: left;
	font-size: 1.1vw;
	color: #d03539;
	border: 2px solid #d03539;
	border-radius: 4px;
	cursor: pointer;
}

.client-sorting ul li:hover, .sort-active {
	background-color: #d03539;
	color: #FFF !important;
}