footer {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 20px 0;
}

footer .brand-caption {
    margin-left: 20px;
    text-align: right;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer p {
    font-size: 11px;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-link {
    list-style: none;
    margin-bottom: 10px;
}

footer .social-link > li {
    display: inline-block;
}

footer .social-link > li > a{
    position: relative;
    margin-right: .3em;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #FFF;
    display: block;
    box-sizing: border-box;
    line-height: 30px;
}
footer .social-link > li > a:hover{
    background: #FFF;
    color: #444444;
}

/* mobile screen */
@media only screen and (max-width: 47em) {
    footer {
        text-align: center;
    }
}
