section {
    min-height: 100vh;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.content {
    padding-top: 50px;
}

/* mobile screen */
@media only screen and (max-width: 47em) {
    .full-height{
        min-height: 100vh;
    }
    section {
        padding: 20px 0;
    }
}

/* tablet-desktop screen */
@media only screen and (min-width: 48em) {
    .full-height{
        height: 100vh;
    }
}
